
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
}

.gallery-title {
  font-family: 'Georgia', serif;
  font-size: 2.5rem;
  color: #333;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #aaa;
  text-align: center;
  margin-bottom: 30px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.image-card:hover img {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  color: white;
  width: 100%;
  padding: 10px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  text-align: center;
}

.image-card:hover .overlay {
  transform: translateY(0);
}
